body{
    font-family: Arial;
    margin: 50px 120px;
    text-align: left;
    line-height: 1.8;
    overflow: hidden;
}

/* Seitenüberschrift */
#impressum{
    font-size: 25px;
}

/* Zurück zur Hompage */
#backToHompage{
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 120px;
}

#backToHompage:hover{
    color: #FF00FF !important;
    
}

#backToHompage:visited{
    color: black;
}

/* Überschriften der einzelnen Positionen */
#projectname, #team, #adress, #contact, #responsible, #liability{
    font-size: 20px;
}

/* Liste der Teammitglieder */
#teammembers{
    list-style-type: none;
    font-size: 15px;
    padding-left: 0;
    margin-bottom: 10px;
}

/* Inhalte der Positionen */
#imprssum-description, #adress-details, #email, #responsible-person, #disclaimer{
    font-size: 15px;
}

/* E-Mail + Instagram*/
#email a, #impressum-instagram a{
    text-decoration: none;
    color: black;
}

#email a:hover{
    text-decoration: none;
    color: #FF00FF;
}

#email a:visited{
    text-decoration: none;
    color: black;
}

