body{
   font-family: Arial;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
   overflow: hidden;
}

/* Umrandung des Buchungsfomular */
.create{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

/* Buchungsüberschrift */
#new-booking{
    font-size: 30px;
    margin-bottom: 15px;
}

/* Einnahme oder Ausgabe */
.budget{
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    font-size: 15px; 
    margin-bottom: 15px;
}

#income-check{
    margin-right: 25px;
}

input[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #FF00FF;
    border-radius: 4px;
    position: relative;  
}

input[type="radio"]:checked{
    background-color:  #FF00FF;
    border-color: #FF00FF ;
}

input[type="radio"]:checked::after{
    content: "\2714";
    color: white;
    font-size: 15px;
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Titel, Summe, Datum */
input[type="text"], input[type="number"], input[type="date"] {
    width: 325px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 15px;
}

/* Kategorie */
.category{
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 15px;
}

/* Einnahmen */
#salary-id, #otherincome-id{
    color: rgb(126, 238, 126);
}

/* Ausgaben */
#rent-id, #insurance-id, #extracost-id, #groceries-id, #freetime-id, #mobility-id, #otherexpenses-id{
   color: #FF0000;
}

/* Sparen */
#save-id{
    color: rgb(55, 201, 238);
}

/* Notizen */
#notes-id{
    width: 325px;
    height: 75px;
    margin-bottom: 15px;
    font-size: 15px;
}

/* Hinzufügebutton */
#add-button{
    width: 325px;
    height: 30px;
    background-color: white;
    border-color: #FF00FF ;
    margin-bottom: 15px;
    font-size: 15px;
}

#add-button:hover{
    background-color: #FF00FF ;
    border-color: #FF00FF ;
    cursor: pointer;
}

/* Zurück zur Kalenderseite */
#backToCalender{
    font-size: 15px;
    color: black;
    text-decoration: none;
}

#backToCalender:hover{
    color: #FF00FF !important;
}

#backToCalender:visited{
    color: black;
}

