.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex-grow: 1; /* Allow main content to take remaining space */
  margin-left: 16.5625rem; /* Initial offset for expanded sidebar */
  padding: 1rem;
  overflow-y: auto;
  transition: margin-left 0.5s ease; /* Smooth transition for sidebar collapse */
}

.main-content-collapsed {
  margin-left: 5rem; /* Offset for collapsed sidebar */
}