.main-content {
  position: absolute;
  top: 0;
  left: 16.5625rem; /* Same width as the sidebar */
  width: calc(100% - 16.5625rem); /* Remaining width */
  height: 100vh;
  padding: 1rem; /* Add some padding */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.main-content-collapsed {
  left: 5rem; /* Collapsed sidebar width */
  width: calc(100% - 5rem);
}