body{
    font-family: Arial;
    margin: 50px 120px;
    text-align: left;
    line-height: 2;
    overflow: auto;
}

/* Seitenüberschrift */
#agb-titel{
    font-size: 25px;
}

/* Link zurück zur Hompage */
#backToHompage{
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 120px;
}

#backToHompage:hover{
    color: #FF00FF !important;
}

#backToHompage:visited{
    color: black;
}

/* Liste mit den AGB */
.agb-statments{
    font-size: 20px;
}

.agb-statments li::marker{
    font-weight: bold;
}