body{
    font-family: Arial;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
}

/* Seitenüberschrift */
#aboutus-id{
    font-size: 25px;
}  

/* Link zurück zur Homepage */
#backToHompage{
    font-size: 15px;
    color: black;
    text-decoration: none;
    display: flex;
    float: right;
    margin-top: -50px;
}

#backToHompage:hover{
    color: #FF00FF !important;
    
}

#backToHompage:visited{
    color: black;
}

/* Liste für Gründe und Ziele der Über uns Seite */
#gruende, #ziel{
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    text-align: left;
    display: block;
    width: 270px;
}

#gruende li::before, #ziel li::before{
    content: "\2731";
    color:  #FF00FF;
    display: inline-block;
    width: 25px;
    
}

/* Link zur DHBW */
#dhbw-link{
    text-decoration: none;
    color: rgb(55, 201, 238);
    font-size: 20px;
}

#dhbw-link:hover{
    color: #FF00FF;
}