
body{
    margin-top: 50px;
    font-family: Arial;

}

/* Login */
#login-button {
    color: black;
    float: right;
    margin-right: 20px;
    font-size: 20px; 
    background-color: white;
    border: 1px solid #FF00FF;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

#login-button:hover {
   background-color: #FF00FF;
}

/* Ober Links Navigation */
.link-container {
   /* border-top: 2px black solid; */
   /* border-bottom: 2px black solid; */
    margin: 0 auto; 
    width: 740px; 
    display: flex; 
    justify-content: right;
    /*top: 25px; */
}

.link-container a{
    color: black;
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none; 
    top: 30px;
    border-color: #FF00FF;
}

.link-container a:hover{
    text-decoration: underline;
    color: #FF00FF;
}
/*
.link-container a:visited{
    color: rgb(224, 103, 178); 
}
*/
/* Logo */
#logo-id{
    display: block; 
    margin: 20px auto; 
    width: 200px;
    height: auto;
    margin-bottom: -45px;
}

/* Willkomen und Name */
#welcome{
    font-size: 25px;
    text-align: center;
}

#budgetweiser {
    font-size: 40px;
    text-align: center;
}

/* Produktbeschriebung */
#product-description{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/* Registrationn */ 
#registration-homepage{
    font-size: 25px;
    text-align: center;
    margin-left: 10px auto;
}

#registration-container{
    text-align: center;
}

#registration-button {
    display: inline-block;
    font-size: x-large; 
    color: black;
    text-decoration: underline white;
    justify-content: center;
    border: 1px solid #FF00FF;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    
}

#registration-button:hover {
   /* background-color:rgb(231, 168, 231); */
    background-color: #FF00FF;
    text-decoration: underline #FF00FF;
}

/* Bild vom Finanzplaner */
#finanzplaner-id{
    display: block; 
    text-align: center;
    margin: 20px auto; 
    /*width: 1050px;*/
    height: auto;
    text-align: center;
}

/*Vorteiel und Eigenschaften */
.table-fa {
    font-size: 20px;
    line-height: 35px;
    display: table; 
    margin: 0 auto;
}

#feature-id, #advantage-id{
    list-style-type: none;
    padding-left: 0;
}

#feature-id li::before{
    content: "\2731";
    display: inline-block;
    margin-right: 15px;
    color:  #FF00FF;;
    text-align: center;
}

#advantage-id li::before{
    content: "\2714";
    display: inline-block;
    margin-right: 15px;
    color: #00FF00;
    text-align: center;
}

footer{
    border-top: 2px gray solid;
    background-color: rgb(248, 247, 247);
    line-height: 2;
    padding: 20px 0;
    width:100%;
    bottom: 0%;
}

/* Wichtige Informationen */
.table-footer{
    font-size: 15px;
    border-collapse: collapse;
    margin: 0 auto; 
    width: 30%;
    text-align: center;
}

.table-footer th, .table-footer td {
    /*line-height: 20px;*/
    padding: 10px 25px;
    text-align: center; 
}

.table-footer td a{
    color: rgb(55, 201, 238);
}

.table-footer td a:hover{
    color: #FF00FF !important;
}

.table-footer td a:visited{
    color: rgb(55, 201, 238);
}

#copyright {
    font-family: Times New Roman;
    font-size: 15px;
    text-align: center;
}